:root {
  --footer-color: #002;
  --footer-light: #004;
  --footer-dark: #001;
  --footer-height: 5em;

  --link-dim: #99c;
  --link-color: #fff;
  --link-visited: #ccf;

  --header-height: calc(100% - var(--footer-height));
  --font-size: 2.7vmax;
  --tr-size: calc(var(--font-size) * 1);
  --flag-size: 2em;
}

body, html, main {
  height: 100vh;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 2.7vmax;
  font-family: "Arial", sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
}

div {
  display: none;
  height: 100%;
}

div.active {
  display: block;
}

h1, p, dd {
  position: relative;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  padding: var(--font-size);
}

p {
  margin: 1em;
}

h1,
p:first-child {
  padding: 1em 0 0;
  margin-top: 0;
}

p.doc {
  font-family: "Times", serif;
  margin: 1em 2em;
  color: #ccc;
  font-style: oblique;
}

p.write {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

.board {
  font-family: 'Rock Salt', cursive;
  margin-left: 1em;
}

p.a {
  margin: 1.5em 1em;
}

p.b {
  margin: 2em 1em;
}

p.c {
  margin: 2.5em 1em;
}

p.d {
  margin: 4em 1em;
}

p.e {
  margin: 1em;
}

p.f {
  margin: 1em 1em 7em;
}

dd {
  margin-bottom: 0.5em;
}

dl p,
dl p:first-child {
  padding: 0;
  margin-left: 0;
}

ul {
  list-style-type: none;
}

ul li {
  text-indent: -1em;
}

header {
  height: 100%;
  padding-bottom: var(--footer-height);
  box-sizing: border-box;
  overflow-y: auto;
}

pre {
  font-size: 2.75vw;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
}

footer p,
footer a {
  text-align: center;
}

a {
  display: block;
  font-weight: bold;
  color: var(--link-dim);
  margin: 0 2em;
}

footer.full {
  background-color: var(--footer-color);
  border-color: var(--footer-light);
  border-bottom-color: var(--footer-dark);
  border-right-color: var(--footer-dark);
}

footer.end p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

footer.end a {
  display: inline;
}

footer.full a {
  color: var(--link-color);
}

footer a:visited {
  color: var(--link-visited);
}

aside {
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--flag-size);
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside img {
  width: var(--flag-size);
}

aside input {
  opacity: 0;
  position: fixed;
  top: -999;
}

aside input + label {
  opacity: 0.333;
}

aside input:checked + label {
  opacity: 1;
}

jx-tr {
  position: absolute;
  top: 0;
  left: -1em;
  width: var(--tr-size);
  height: var(--tr-size);
  background: url("../img/en-vo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.25;
}


jx-tr[checked] {
  background: url("../img/ru-v2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

h1 jx-tr {
  left: 0;
}


jx-tr:focus {
  outline: unset;
}

span.ru {
  display: none;
}

jx-tr[checked] ~ span{
  color: #999;
}

jx-tr[checked] ~ span.ru {
  display: inline;
}

jx-tr[checked] ~ span.en {
  display: none;
}

html[lang=ru] span.en {
  display: none;
}

html[lang=ru] span.ru {
  display: inline;
}

html[lang=ru]  jx-tr[checked] ~ span.ru {
  display: none;
}

html[lang=ru] jx-tr[checked] ~ span.en {
  display: inline;
}

html[lang=ru] jx-tr {
  background: url("../img/ru-vo.png");
  background-size: contain;
}

html[lang=ru] jx-tr[checked] {
  background: url("../img/en-v2.png");
  background-size: contain;
}